h1{
    color:black;
}
 p{
    color:black;
    padding: 40px 40px 40px 40px;
    margin: 10px 50px 10px 50px;
 }
 
 h2{
    color: brown;
    background: #87CEEB;
    font-size: 50px;
    font-family: sans-serif;
    
}

p {
 color:brown;
 background-color: azure;
 margin: 50px 50px 50px 0px;
 padding: 50px 50px 50px 0px;
 border: 10px double whitesmoke;

}

#first{
    color: brown;
    background: #87CEEB;
    font-size: 40px;

}

.red-color-black-bg {
    color: white;
    background-color: black;
}